/* src/styles/SpeciesSearch.css */
/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#info-text h2{
  color: #0f9b4a;
}

#info-text h3 {
  color: black;
}

/* Body Styling */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f8f5;
  color: #333;
}

#input1{
  margin-left: 20%;
  margin-top: 40px;
  width: 30%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #0f9b4a;
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
}

#select1{
  margin-left: 10%;
  margin-top: 40px;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #0f9b4a;
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
}

/* Species List Styling */
.species-list {
  margin-top: 40px;
  overflow-y: auto;
  padding-right: 1rem;
}

.species-list ul {
  list-style-type: none;
}

.species-list li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 5px solid #0f9b4a;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.2s;
}

.species-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.species-list li a {
  text-decoration: none;
  color: inherit;
}

.species-list h2 {
  font-size: 1.5rem;
  color: #0f9b4a;
  margin-bottom: 0.5rem;
}

.species-list p {
  margin: 0.3rem 0;
  font-size: 1rem;
  color: #555;
}

.species-list p strong {
  color: #333;
}

/* No Species Found Message */
.species-list p {
  text-align: center;
  font-size: 1.2rem;
  color: #000000;
}

/* Scrollbar Styling */
.species-list::-webkit-scrollbar {
  width: 8px;
}

.species-list::-webkit-scrollbar-thumb {
  background-color: #0f9b4a;
  border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .species-search-content {
    padding: 1rem;
  }

  .filters input,
  .filters select {
    width: 100%;
  }

  .species-list {
    max-height: none;
  }
}
