/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f8f5;
  color: #333;
}

/* Header/Banner Styles */
.species-options-header {
  background-color: #ffffff00;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main Page Layout */
.species-options-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Styling for the logo in the header */
.logo-image {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.species-options-content {
  width: 100%;
  max-width: 1200px;
  margin-top: 10rem;
  padding: 2rem;
  text-align: center;
}

/* Title and Description */
.species-options-content h1 {
  font-size: 2.5rem;
  color: #050505;
  margin-bottom: 1rem;
}

.species-options-content p {
  font-size: 1.2rem;
  color: #080808;
  margin-bottom: 3rem;
}

/* Wings GIF styling */
.wings-gif {
  margin: 2rem auto;
  width: 200px;
  height: auto;
}

/* Options Styling */
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.option-card {
  background-color: #1bdeec2c;
  border: 1px solid #dddddd00;
  border-radius: 10px;
  width: 300px;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  color: #000000;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.option-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(255, 253, 253, 0.1);
}

.option-icon {
  font-size: 3rem;
  color: #0f9b4a;
  margin-bottom: 1rem;
}

.option-card h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.option-card p {
  font-size: 1rem;
  color: #000000;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .options {
    flex-direction: column;
    gap: 1.5rem;
  }

  .option-card {
    width: 100%;
  }

  /* Responsive wings GIF */
  .wings-gif {
    width: 150px;
  }
}
